* {
	margin: 0;
	padding: 0;
}

body {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.control {
	display: flex;
	justify-content: center;
	align-items: center;
}

.res {
	margin-top: 20px;
}
